.form {
    
}

.form__fieldset {
    border: none;
    margin-bottom: 20px;
    gap: 40px;
}

.form__input {
    border-radius: 4px;
    min-width: 384px;
    max-width: 385px;
    height: 45px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    gap: 40px;
    padding-left: 12px;
}

.form__label {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__button {
    border-radius: 4px;
    background-color: rgb(3, 54, 237);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.form__button:hover {
    opacity: 0.7;
}

.form__button:hover { 
    background-color: #3f96f3; 
}

.form__checkbox {
    border-radius: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}