.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
    background-image: url("../images/background_header.svg");
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 1440px;
}
